@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar-right-0{
     top: 3rem;
     right: 0;
};

*{
     background: #000;
}


   /* Custom Scrollbar Styles */
   .scrollbar-container {
     max-height: 200px; /* Set a max height for the scrollbar container */
     overflow-y: auto;
     scrollbar-width: thin;
     scrollbar-color: #4a5568 #edf2f7; /* Set the scrollbar track and thumb colors */
 }

 .scrollbar-container::-webkit-scrollbar {
     width: 6px; /* Set the width of the scrollbar for WebKit browsers */
 }

 .scrollbar-container::-webkit-scrollbar-thumb {
     background-color: #4a5568; /* Set the color of the scrollbar thumb */
     border-radius: 3px; /* Optional: Add border-radius for a rounded thumb */
 }

 .scrollbar-container::-webkit-scrollbar-track {
     background-color: #edf2f7; /* Set the color of the scrollbar track */
 }
